.cta{
  margin-top:0;
  padding-top: 75px;
  &__inner{
    @include container;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    text-align: center;
  }
  &__text{
    color: #757575;
    margin-bottom: 60px;
  }
  &__title{
    font-weight: bold;
    font-size: 57px;
    color: $gray;
    font-family: PT Serif, serif;
    font-style: normal;
    line-height: 120%;
    @include media(md){
      font-size: 40px;
    }
    @include media(sm){
      font-size: 30px;
    }
  }
  &__image{
    margin-right: 5px;
    max-width:15px ;
  }
  &__button{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    justify-content: center;
    @include media(sm){
      width: 100%;
    }
  }
}