.cta{
  margin-top:0;
  padding-top: 75px;
  &__inner{
    @include container;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    text-align: center;
    &--background{
      background-image: url('../images/cta2_background.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
  &__text{
    color: #757575;
    margin-bottom: 60px;
  }
  &__title{
    font-weight: bold;
    font-size: 57px;
    color: $gray;
    font-family: PT Serif, serif;
    font-style: normal;
    line-height: 120%;
    &--padding{
      padding: 50px 170px 50px 170px;
      @include media(md){
        padding: 15px 50px 15px 50px;
      }
      @include media(sm){
        padding: 5px 15px;
      }
    }
    @include media(md){
      font-size: 40px;
    }
    @include media(sm){
      font-size: 30px;
    }
  }
  &__image{
    margin-right: 5px;
    max-width:15px ;
  }
  &__button{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    justify-content: center;
    @include media(sm){
      width: 100%;
    }
  }
}