.header{
  margin: 0;
  z-index: 1000;
  position: fixed;
  min-height: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  transition: all .3s ease-in;
  background: $white;
  &__wrap{
    display: flex;
    align-items: center;
  }
  &__inner{
    @include container;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo{
    max-height: 35px;
    max-width: 125px;
  }
  &__menu{

    display: flex;
    align-items: center;
    &__items{
      color: #757575;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      letter-spacing: 0.03em;
      margin-right: 55px;
      transition: 0.3s;
      &:hover{
        color: $gray;
      }
    }
    &__button{
      background-color:$blue ;
      color: $white;
      padding:  14px 20px;
      min-width: 135px;
      border-radius: 4px;
      font-weight: bold;
    }
  }

}