.services{
  background: #FAFCFF;
  &__inner{
    @include container;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
  &__title{
    margin: 45px 0;
    font-family: PT Serif, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 57px;
    color: $gray;
    @include media(md){
      font-size: 40px;
    }
    @include media(sm){
      font-size: 30px;
    }
  }
  &__image{
    max-width: 315px;
  }
  &__image-wrap{
    display: flex;
    justify-content: flex-start;
    width: 30%;
    @include media(sm){
      display: none;
    }
  }
  &__content{
    width: 70%;
    padding:50px 100px;
    display: flex;
    flex-direction: column;
    @include media(sm){
      width: 100%;
    }
    @include media(xs){
      padding: 10px 20px;
    }
    &__title{
      font-family: PT Serif, serif;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      color: #005DFF;
      margin-bottom: 15px;
      &--green{
        color: $green;
      }
    }
  }
  &__text{
    margin-bottom: 55px;
  }
  &__block{
    width: 100%;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    &--blue{
      background: #E6EFFF;
    }
    &--green{
      background: #E5FAED;
    }
  }
  &__button{
    &--blue{
      color: #005DFF;
    }
    &--green{
      color: $green;
    }
    font-weight: bold;
    font-size: 18px;
    line-height: 100%;
    margin: 0 8px;
  }
  &__arrow{
    width: 14px;
    margin: 0 7px;
  }
}